@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: 117 100% 95%;
    --foreground: 117 5% 10%;
    --card: 117 50% 90%;
    --card-foreground: 117 5% 15%;
    --popover: 117 100% 95%;
    --popover-foreground: 117 100% 10%;
    --primary: 117 100% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 117 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 79 30% 85%;
    --muted-foreground: 117 5% 35%;
    --accent: 79 30% 80%;
    --accent-foreground: 117 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 117 5% 90%;
    --border: 117 30% 50%;
    --input: 117 30% 23%;
    --ring: 117 100% 22%;
    --radius: 1rem;
}

.dark {
    --background: 117 50% 10%;
    --foreground: 117 5% 90%;
    --card: 117 50% 10%;
    --card-foreground: 117 5% 90%;
    --popover: 117 50% 5%;
    --popover-foreground: 117 5% 90%;
    --primary: 117 100% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 117 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 79 30% 23%;
    --muted-foreground: 117 5% 60%;
    --accent: 79 30% 23%;
    --accent-foreground: 117 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 117 5% 90%;
    --border: 117 30% 23%;
    --input: 117 30% 23%;
    --ring: 117 100% 22%;
    --radius: 1rem;
}